.create-game-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.create-game-button {
  padding: 20px 100px;
  border-radius: 5px;
  background-color: #dc3c4d;
  color: #ffde59;
  font-weight: bold;
  font-family: Mono, sans-serif;
  cursor: pointer;
  font-size: 25px;
}

.return-to-game-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #dc3c4d;
  color: #ffde59;
  font-weight: bold;
  font-family: Mono, sans-serif;
  cursor: pointer;
  font-size: 16px;
}

.join-game-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #dc3c4d;
  color: #ffde59;
  font-weight: bold;
  font-family: Mono, sans-serif;
  cursor: pointer;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 45%;
  margin-right: 10px;
}

.right-section {
  width: 45%;
  margin-left: 10px;
}

.left-text {
  width: 100%;
  position: relative;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  background-color: #ffde59;
  margin-top: 60px;
  color: #dc3c4d;
  font-weight: bold;
  font-family: Mono, sans-serif;
  height: 300px;
}

.left-text2 {
  width: 100%;
  position: relative;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  background-color: #ffde59;
  margin-top: 60px;
  color: #dc3c4d;
  font-weight: bold;
  font-family: Mono, sans-serif;
}

.left-text2 h3 {
  margin-bottom: 30px;
}

.left-text2 p {
  margin-top: 25px;
  margin-bottom: 10px;
}
